$selected_bg_color: #4581a4;
$selected_fg_color: #ffffff;
$variant: 'dark';
$full-panel: 'false';
$asset_suffix: '-dark';

@import "gnome-shell/upstream/gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell/upstream/gnome-shell-sass/_drawing";
@import "gnome-shell/upstream/gnome-shell-sass/_common";
@import "gnome-shell/upstream/gnome-shell-sass/_widgets";
//@import "gnome-shell/_common-tweaks";
